---
- name: Verify operating system
  ansible.builtin.assert:
    that: ansible_distribution in ['Debian', 'Ubuntu']
    fail_msg: Sorry, only Debian and Ubuntu supported at the moment.

- name: Assert usage of systemd as init system
  ansible.builtin.assert:
    that: ansible_service_mgr == 'systemd'
    fail_msg: This role only works with systemd

- name: Check Ansible version
  ansible.builtin.assert:
    that: ansible_version.full is version(ansible_version_minimum, '>=')
    fail_msg: You must update Ansible to at least {{ ansible_version_minimum }} to use this role.
  delegate_to: localhost

- name: Check required Ansible collections are installed
  ansible.builtin.command: ansible-galaxy collection list
  changed_when: false
  register: _ansible_installed_collections
  delegate_to: localhost
  check_mode: false

- name: Verify all dependencies
  ansible.builtin.assert:
    that: item in _ansible_installed_collections.stdout
    fail_msg: Required Ansible collection missing - {{ item }}
  loop: "{{ ansible_required_collections }}"
  delegate_to: localhost
...
