---
- name: Verify operating system
  ansible.builtin.assert:
    that: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
    fail_msg: Sorry, only Debian and Ubuntu supported at the moment.
    success_msg: "Found distribution: {{ ansible_distribution }}"

- name: Assert usage of systemd as an init system
  ansible.builtin.assert:
    that: ansible_service_mgr == 'systemd'
    fail_msg: "This role only works with systemd"
    success_msg: "systemd found"

- name: Compare versions of installed ansible and required ansible
  ansible.builtin.assert:
    that: "ansible_version.full is version_compare(ansible_version_minimum, '>=')"
    msg: >
      "You must update Ansible to at least {{ ansible_version_minimum }} to use this role."
  delegate_to: localhost
  run_once: true
  register: _exception

- name: Check that all dependent Ansible collections are installed
  block:
    - name: Get all collections as fact
      ansible.builtin.command: ansible-galaxy collection list
      changed_when: false
      register: _ansible_installed_collections
      delegate_to: localhost
      run_once: true
      become: false

    - name: Loop through all dependencies
      ansible.builtin.fail:
        msg: >
          "Not all required Ansible collections are installed. Missing: {{ item }}"
      when: "item not in _ansible_installed_collections.stdout"
      delegate_to: localhost
      run_once: true
      loop: "{{ ansible_required_collections }}"
      register: _exception
      become: false
