---
- name: Determine target version info
  when:
    - paperless_ngx_version == "latest"
  delegate_to: localhost
  run_once: true
  block:
    - name: Get latest release info from github
      ansible.builtin.uri:
        url: https://api.github.com/repos/paperless-ngx/paperless-ngx/releases/latest
        method: GET
        return_content: true
        status_code: 200
        body_format: json
        headers: "{{ {'Authorization': 'Bearer ' + github_public_repo_token} if github_public_repo_token else {} }}"
      no_log: "{{ not lookup('env', 'MOLECULE_DEBUG') | bool }}"
      register: _latest_release_api_response
      until: _latest_release_api_response.status == 200
      retries: 5
      check_mode: false

    - name: Set paperless version to latest
      ansible.builtin.set_fact:
        paperless_ngx_version: "{{ _latest_release_api_response.json.tag_name[1:] }}"

- name: Validate paperless version
  ansible.builtin.assert:
    that: paperless_ngx_version is ansible.builtin.version(paperless_ngx_version_minimum, '>=', version_type='semver')
    fail_msg: Unsupported version detected. Please use a version >= {{ paperless_ngx_version_minimum }}

- name: Validate and check download URL
  delegate_to: localhost
  run_once: true
  block:
    - name: Set download URL
      ansible.builtin.set_fact:
        _release_download_url: >-
          https://github.com/paperless-ngx/paperless-ngx/releases/download/v{{ paperless_ngx_version }}/paperless-ngx-v{{ paperless_ngx_version }}.tar.xz

    - name: Probe download link is valid
      ansible.builtin.uri:
        url: "{{ _release_download_url }}"
        method: HEAD
        status_code: 200
      register: _release_download_uri_response
      until: _release_download_uri_response.status == 200
      retries: 5

- name: Check for existing paperless-ngx version file
  become: true
  ansible.builtin.stat:
    path: "{{ paperless_ngx_dir_installation }}/.installed_version"
  register: _paperless_ngx_version_file_object

- name: Determine installation strategy
  when:
    - _paperless_ngx_version_file_object.stat.exists
  block:
    - name: Get current installed version
      become: true
      ansible.builtin.command:
        cmd: cat {{ paperless_ngx_dir_installation }}/.installed_version
      register: _paperless_ngx_installed_version_raw
      changed_when: false
      check_mode: false

    - name: Set installation strategy variables
      ansible.builtin.set_fact:
        _paperless_ngx_installed_version: "{{ _paperless_ngx_installed_version_raw.stdout }}"
        _paperless_ngx_installation_strategy_fresh: false
        _paperless_ngx_installation_strategy_upgrade: "{{ _paperless_ngx_installed_version_raw.stdout is version(paperless_ngx_version, '<', version_type='semver') }}"
        _paperless_ngx_installation_strategy_reconfigure: "{{ _paperless_ngx_installed_version_raw.stdout == paperless_ngx_version }}"
        _paperless_ngx_installation_strategy_downgrade: "{{ _paperless_ngx_installed_version_raw.stdout is version(paperless_ngx_version, '>', version_type='semver') }}"

- name: Set fresh installation strategy
  when:
    - not _paperless_ngx_version_file_object.stat.exists
  ansible.builtin.set_fact:
    _paperless_ngx_installation_strategy_fresh: true
    _paperless_ngx_installation_strategy_upgrade: false
    _paperless_ngx_installation_strategy_reconfigure: false
    _paperless_ngx_installation_strategy_downgrade: false

- name: Print installation state
  ansible.builtin.debug:
    msg:
      - "Paperless-ngx installed version:  {{ _paperless_ngx_installed_version | default('-') }}"
      - "Paperless-ngx target version:     {{ paperless_ngx_version }}"
      - "-------------------------------"
      - "Detected strategy:"
      - "Fresh installation:               {{ _paperless_ngx_installation_strategy_fresh }}"
      - "Upgrade:                          {{ _paperless_ngx_installation_strategy_upgrade }}"
      - "Reconfiguration:                  {{ _paperless_ngx_installation_strategy_reconfigure }}"
      - "Downgrade:                        {{ _paperless_ngx_installation_strategy_downgrade }}"

- name: Prevent downgrade
  ansible.builtin.assert:
    that: not _paperless_ngx_installation_strategy_downgrade | bool
    fail_msg: Downgrade detected - Downgrades are not allowed.
...
