---
- name: Check that NLTK installation was successful by executing the document classifier
  become: true
  become_user: "{{ paperless_ngx_system_user }}"
  ansible.builtin.shell: |
    {{ paperless_ngx_dir_virtualenv }}/bin/python3 {{ paperless_ngx_dir_installation }}/src/manage.py document_create_classifier
  register: test_alternative_installation__classifier_output
  changed_when: false
  failed_when: '"Classifier error" in test_alternative_installation__classifier_output.stderr'
