---
- name: Setup repo packages
  ansible.builtin.include_tasks:
    file: repo_packages.yml

- name: Setup python version used in paperless-ngx venv
  ansible.builtin.include_tasks:
    file: python.yml

- name: Setup jbig2enc
  when:
    - paperless_ngx_jbig2enc_enabled
  ansible.builtin.include_tasks:
    file: jbig2enc.yml
...
