---
- name: Check if Python is already installed with correct version
  ansible.builtin.stat:
    path: "{{ paperless_ngx_dir_python }}/bin/python{{ paperless_ngx_python_version_short }}"
  register: _python_check
  check_mode: false

- name: Install Python if not already installed
  when:
    - not _python_check.stat.exists
  become: true
  block:
    - name: Install development dependencies
      when:
        - _python_dependency_not_installed | default(true)
      ansible.builtin.apt:
        name:
          - build-essential
          - libreadline-dev
          - libncursesw5-dev
          - libssl-dev
          - libsqlite3-dev
          - libgdbm-dev
          - libc6-dev
          - libbz2-dev
          - libffi-dev
          - tk-dev
          - zlib1g-dev
        state: present

    - name: Create temporary directory for Python sources
      ansible.builtin.tempfile:
        state: directory
        path: "{{ paperless_ngx_dependency_install_tmp_dir }}"
      register: _python_archive_dir

    - name: Download and extract Python sources
      when:
        - not ansible_check_mode
      ansible.builtin.unarchive:
        src: "{{ paperless_ngx_python_release_url }}"
        remote_src: true
        dest: "{{ _python_archive_dir.path }}"
        extra_opts: [--strip-components=1]
      register: _python_download_result
      until:
        - "'urlopen error' not in _python_download_result.msg | default('')"
        - "'The read operation timed out' not in _python_download_result.msg | default('')"
      retries: 3
      delay: 60

    - name: Configure Python build
      when:
        - not ansible_check_mode
      ansible.builtin.command:
        cmd: ./configure --prefix={{ paperless_ngx_dir_python }} --enable-optimizations --with-ensurepip=install
        chdir: "{{ _python_archive_dir.path }}"
      register: _python_configure_result
      until: _python_configure_result.rc == 0
      retries: 2
      delay: 30
      changed_when: false

    - name: Build and install Python
      when:
        - not ansible_check_mode
      community.general.make:
        chdir: "{{ _python_archive_dir.path }}"
        target: altinstall
...
