---
- name: Install base dependencies
  become: true
  ansible.builtin.apt:
    update_cache: true
    name:
      - acl
      - default-libmysqlclient-dev
      - fonts-liberation
      - imagemagick
      - optipng
      - gnupg
      - libpq-dev
      - libmagic-dev
      - mariadb-client
      - libzbar0
      - poppler-utils
      - pkg-config
      - unpaper
      - ghostscript
      - icc-profiles-free
      - qpdf
      - libxml2
      - pngquant
      - zlib1g
      - tesseract-ocr
      - git
      - sudo
      - autoconf
  register: _install_base_deps_result
  until:
    - "'Connection timed out' not in _install_base_deps_result.stderr | default('')"
    - "'Temporary failure resolving' not in _install_base_deps_result.stderr | default('')"
  retries: 3
  delay: 60

- name: Install liblept5 (Debian <13, Ubuntu <25.04)
  when:
    - ansible_distribution == 'Debian' and ansible_distribution_version is version('13', '<')
      or ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('25.04', '<')
  become: true
  ansible.builtin.apt:
    name:
      - liblept5

- name: Install libleptonica (Debian 13+, Ubuntu 25.04+)
  when:
    - ansible_distribution == 'Debian' and ansible_distribution_version is version('13', '>=')
      or ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('25.04', '>=')
  become: true
  ansible.builtin.apt:
    name:
      - libleptonica6
      - libleptonica-dev

- name: Install OCR language packs
  become: true
  ansible.builtin.apt:
    name: "{{ paperless_ngx_conf_ocr_languages | map('regex_replace', '^(.*)$', 'tesseract-ocr-\\1') | map('replace', '_', '-') | list }}"

- name: Configure Redis
  become: true
  when:
    - paperless_ngx_redis_host in ['localhost', '127.0.0.1']
  block:
    - name: Install redis-server
      ansible.builtin.apt:
        name: redis-server

    - name: Enable and start redis-server
      when:
        - not ansible_check_mode
      ansible.builtin.systemd:
        name: redis-server
        enabled: true
        masked: false
        state: started
...
