---
- name: Install base dependencies for Ansible
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      # ansible
      - acl

- name: Install base dependencies for pngx
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      # paperless-ngx
      - default-libmysqlclient-dev
      - fonts-liberation
      - imagemagick
      - optipng
      - gnupg
      - libpq-dev
      - libmagic-dev
      - mariadb-client
      - libzbar0
      - poppler-utils
      - pkg-config
      # OCRmyPDF
      - unpaper
      - ghostscript
      - icc-profiles-free
      - qpdf
      - libxml2
      - pngquant
      - zlib1g
      - tesseract-ocr
      # Dev
      - git
      - sudo
  register: _install_base_deps_result
  until:
    - "not 'Connection timed out' in _install_base_deps_result.stderr|default('')"
    - "not 'Temporary failure resolving' in _install_base_deps_result.stderr|default('')"
  retries: 3
  delay: 60

- name: Install liblept5 for most platforms
  become: true
  ansible.builtin.apt:
    pkg:
      - liblept5
  when: not (ansible_distribution == 'Debian' and ansible_distribution_version is version('13', '>='))

- name: Install libleptonica6 for Debian 13 Trixie and newer
  become: true
  ansible.builtin.apt:
    pkg:
      - libleptonica6
  when: ansible_distribution == 'Debian' and ansible_distribution_version is version('13', '>=')

- name: Install ocr languages
  become: true
  ansible.builtin.apt:
    pkg: "{{ paperless_ngx_conf_ocr_languages | map('regex_replace', '^(.*)$', 'tesseract-ocr-\\1') | map('replace', '_', '-') | list }}"

- name: Install redis
  become: true
  ansible.builtin.apt:
    pkg: redis-server
  when: paperless_ngx_redis_host == 'localhost' or paperless_ngx_redis_host == '127.0.0.1'

- name: Enable redis
  become: true
  ansible.builtin.systemd:
    name: redis-server
    enabled: true
    masked: false
    state: started
  when: paperless_ngx_redis_host == 'localhost' or paperless_ngx_redis_host == '127.0.0.1'
