---
- name: Set user and group for check mode
  when:
    - ansible_check_mode
  ansible.builtin.set_fact:
    paperless_ngx_system_user: "{{ ansible_user_id }}"
    paperless_ngx_system_group: "{{ ansible_user_gid }}"

- name: Do preparatory work
  ansible.builtin.include_tasks:
    file: preparation/main.yml

- name: Install and configure base dependencies
  ansible.builtin.include_tasks:
    file: base_dependencies/main.yml

- name: Install and configure paperless-ngx
  ansible.builtin.include_tasks:
    file: paperless_ngx/main.yml
...
