---
- name: Initialize and upgrade database
  become: true
  become_user: "{{ paperless_ngx_system_user }}"
  block:
    - name: Migrate database schema
      ansible.builtin.command:
        cmd: "{{ paperless_ngx_dir_virtualenv }}/bin/python3 {{ paperless_ngx_dir_installation }}/src/manage.py migrate"
      register: _database_migration
      changed_when: '"No migrations to apply." not in _database_migration.stdout'
      failed_when:
        - _database_migration.rc != 0
        - '"No migrations to apply." not in _database_migration.stdout'

    - name: Configure paperless-ngx superuser
      ansible.builtin.command:
        cmd: "{{ paperless_ngx_dir_virtualenv }}/bin/python3 {{ paperless_ngx_dir_installation }}/src/manage.py manage_superuser"
      environment:
        PAPERLESS_ADMIN_USER: "{{ paperless_ngx_conf_admin_user }}"
        PAPERLESS_ADMIN_MAIL: "{{ paperless_ngx_conf_admin_mail }}"
        PAPERLESS_ADMIN_PASSWORD: "{{ paperless_ngx_conf_admin_password }}"
      register: _superuser_setup
      changed_when: '"Created superuser" in _superuser_setup.stdout'
      no_log: true
...
