---
- name: Add paperless-ngx system user(s) and group(s)
  ansible.builtin.include_tasks:
    file: system_user.yml

- name: Pre configuration
  when:
    - _paperless_ngx_installation_strategy_fresh or _paperless_ngx_installation_strategy_upgrade
  block:
    - name: Get paperless-ngx release files
      ansible.builtin.include_tasks:
        file: release_files.yml

    - name: Prepare paperless-ngx virtual environment
      when:
        - not ansible_check_mode
      ansible.builtin.include_tasks:
        file: venv.yml

    - name: Prepare NLTK environment
      when:
        - not ansible_check_mode
      ansible.builtin.include_tasks:
        file: nltk.yml

- name: Configure paperless-ngx and dependencies
  ansible.builtin.include_tasks:
    file: configuration.yml

- name: Post configuration
  when:
    - _paperless_ngx_installation_strategy_fresh or _paperless_ngx_installation_strategy_upgrade
  block:
    - name: Initialize and upgrade paperless-ngx database
      ansible.builtin.include_tasks:
        file: database.yml

    - name: Deploy and activate systemd service units
      ansible.builtin.include_tasks:
        file: systemd_services.yml

- name: Finalize paperless-ngx installation
  ansible.builtin.include_tasks:
    file: finalize.yml
...
