---
- name: Remove current paperless release directory
  become: true
  ansible.builtin.file:
    path: "{{ paperless_ngx_dir_installation }}"
    state: absent

- name: Create paperless-ngx directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
    mode: "0750"
  loop:
    - "{{ paperless_ngx_config_path }}"
    - "{{ paperless_ngx_dir_tmp }}"

- name: Create app directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
    mode: "0750"
  loop: "{{ paperless_ngx_dir_force_permission_include | difference(paperless_ngx_dir_force_permission_exclude) }}"

- name: Download and extract paperless-ngx release
  become: true
  ansible.builtin.unarchive:
    src: "{{ _release_download_url }}"
    remote_src: true
    dest: "{{ paperless_ngx_dir_tmp }}"
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
  register: _download_and_unarchive_pngx
  until:
    - "'urlopen error' not in _download_and_unarchive_pngx.msg | default('')"
    - "'The read operation timed out' not in _download_and_unarchive_pngx.msg | default('')"
  retries: 3
  delay: 60

- name: Set file and directory permissions
  become: true
  ansible.builtin.shell:
    cmd: |
      find {{ paperless_ngx_dir_tmp }} -type d -exec chmod 0750 {} +
      find {{ paperless_ngx_dir_tmp }} -type f -exec chmod 0640 {} +
  changed_when: false

- name: Copy release files to installation directory
  when:
    - not ansible_check_mode
  become: true
  ansible.builtin.copy:
    src: "{{ paperless_ngx_dir_tmp }}/paperless-ngx/"
    remote_src: true
    dest: "{{ paperless_ngx_dir_installation }}"
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
    mode: preserve
    directory_mode: preserve

- name: Create paperless config file
  become: true
  ansible.builtin.file:
    path: "{{ paperless_ngx_config_file }}"
    state: touch
    mode: "0640"
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
    access_time: preserve
    modification_time: preserve

- name: Remove legacy gunicorn configuration
  become: true
  ansible.builtin.file:
    path: "{{ paperless_ngx_config_path }}/gunicorn.conf.py"
    state: absent

- name: Deploy flower configuration
  become: true
  ansible.builtin.template:
    src: flowerconfig.py.j2
    dest: "{{ paperless_ngx_config_path }}/flowerconfig.py"
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
    mode: "0640"
    backup: true

- name: Deploy flower systemd service
  become: true
  ansible.builtin.template:
    src: paperless-flower.service.j2
    dest: "{{ paperless_ngx_dir_installation }}/scripts/paperless-flower.service"
    owner: "{{ paperless_ngx_system_user }}"
    group: "{{ paperless_ngx_system_group }}"
    mode: "0640"

- name: Clean up temporary directory
  become: true
  ansible.builtin.file:
    path: "{{ paperless_ngx_dir_tmp }}"
    state: absent
...
