---
- name: Configure systemd services (common values)
  become: true
  community.general.ini_file:
    path: "{{ paperless_ngx_dir_installation }}/scripts/{{ service.name }}"
    create: false
    section: Service
    option: "{{ option.option }}"
    value: "{{ option.value }}"
    no_extra_spaces: true
  loop: "{{ paperless_ngx_services_list | product(common_service_options) | list }}"
  loop_control:
    loop_var: item
  vars:
    common_service_options:
      - option: User
        value: "{{ paperless_ngx_system_user }}"
      - option: Group
        value: "{{ paperless_ngx_system_group }}"
      - option: WorkingDirectory
        value: "{{ paperless_ngx_dir_installation }}/src"
      - option: ProtectSystem
        value: full
      - option: NoNewPrivileges
        value: "true"
      - option: PrivateUsers
        value: "true"
      - option: PrivateDevices
        value: "true"
      - option: EnvironmentFile
        value: "{{ paperless_ngx_config_file }}"
    service: "{{ item[0] }}"
    option: "{{ item[1] }}"

- name: Configure systemd services (exec start)
  become: true
  community.general.ini_file:
    path: "{{ paperless_ngx_dir_installation }}/scripts/{{ item.service_name }}"
    create: false
    section: Service
    option: ExecStart
    value: "{{ item.exec_start }}"
    no_extra_spaces: true
  loop:
    - service_name: paperless-consumer.service
      exec_start: "{{ paperless_ngx_dir_virtualenv }}/bin/python3 manage.py document_consumer"
    - service_name: paperless-scheduler.service
      exec_start: "{{ paperless_ngx_dir_virtualenv }}/bin/celery --app paperless beat --loglevel INFO"
    - service_name: paperless-task-queue.service
      exec_start: "{{ paperless_ngx_dir_virtualenv }}/bin/celery --app paperless worker --loglevel INFO"
    - service_name: paperless-flower.service
      exec_start: "{{ paperless_ngx_dir_virtualenv }}/bin/celery --app paperless flower --conf={{ paperless_ngx_config_path }}/flowerconfig.py"

- name: Replace granian exec command in Paperless systemd service
  become: true
  ansible.builtin.replace:
    path: "{{ paperless_ngx_dir_installation }}/scripts/paperless-webserver.service"
    regexp: exec granian
    replace: "exec {{ paperless_ngx_dir_virtualenv }}/bin/python3 -m granian"

- name: Remove redis from service units if external
  when:
    - paperless_ngx_redis_host not in ['localhost', '127.0.0.1']
  become: true
  community.general.ini_file:
    path: "{{ paperless_ngx_dir_installation }}/scripts/{{ item.name }}"
    create: false
    section: Unit
    option: Requires
    value: redis.service
    state: absent
  loop: "{{ paperless_ngx_services_list }}"

- name: Copy systemd service files
  become: true
  ansible.builtin.copy:
    src: "{{ paperless_ngx_dir_installation }}/scripts/{{ item.name }}"
    remote_src: true
    dest: "/etc/systemd/system/{{ item.name }}"
    mode: "0644"
  loop: "{{ paperless_ngx_services_list }}"
  notify: Restart paperless completely

- name: Enable and start paperless services
  when:
    - item.enabled | bool
  become: true
  ansible.builtin.systemd:
    name: "{{ item.name }}"
    enabled: true
    masked: false
    state: started
  loop: "{{ paperless_ngx_services_list }}"
...
