ansible==8.2.0
ansible-core==2.15.2 # https://github.com/ansible/molecule/issues/4017
ansible-lint==6.19.0
pip==23.2.1
# urllib3==1.26.16 # <- periodically needed in some environments but not in github pipeline. Will leave it here for local builds: #https://github.com/docker/docker-py/issues/3113
yamllint==1.32.0