ansible==9.1.0
# ansible-core==2.15.5 # https://github.com/ansible/molecule/issues/4017
ansible-lint==6.22.1
pip==23.3.2
# urllib3==1.26.16 # <- periodically needed in some environments but not in github pipeline. Will leave it here for local builds: #https://github.com/docker/docker-py/issues/3113
yamllint==1.34.0